/*  BASE STYLES */

:root {
  --accent-color: #02897a;
  --main-color: #22343d;
}
body {
  font-family: "Poppins";
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
}

/*  BASE STYLES */

/* header */

header a {
  color: var(--main-color);
}
.product-logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 93%;
  color: #173a56;
}

.nav-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
}

.btn-signin-header {
  background-color: inherit;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #173a56;
  border-radius: 4px;
  border: 1px solid #bcd0e5;
}

.btn-signup-header {
  background-color: var(--accent-color);
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #fff;
  border-radius: 4px;
}
/* header */

/* SECTION HERO */

.title-hero {
  color: var(--main-color);
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
}

.text-hero {
  color: var(--main-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
}

.btn-getstart {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background-color: var(--accent-color);
}

.link-watchtvid {
  color: var(--accent-color);
  text-decoration: underline;
  font-weight: 600;
  font-size: 16px;
}
/* SECTION HERO */

/* section For You */

.title-for-you {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: var(--main-color);
}

.title-of-featur {
  color: var(--main-color);
  font-weight: 600;
  font-size: 22px;
}

.text-of-feature {
  color: var(--main-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
}

.btn-signup-foryou {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background-color: var(--accent-color);
}

/* section Management */

.title-management {
  font-weight: 700;
  font-size: 32px;
  color: var(--main-color);
}

.text-management {
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: var(--main-color);
}

.text-support {
  font-weight: 600;
  font-size: 16px;
  color: var(--main-color);
}

.sbtitle-support {
  color: var(--main-color);
  font-weight: 700;
  font-size: 32px;
}

.scnd-text-support {
  color: var(--main-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
}
.point-text-support {
  color: var(--main-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
}

.text-collaborative {
  color: var(--main-color);
  font-weight: 600;
  font-size: 16px;
}

.title-collaborative {
  color: var(--main-color);
  font-weight: 700;
  font-size: 32px;
}

.scnd-text-collaborative {
  color: var(--main-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
}

.sbtitle-collaborative {
  color: var(--main-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 162%;
}

.point-text-collaborative {
  color: var(--main-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
}

/* Easy Process */

.title-easy-process {
  color: var(--main-color);
  font-weight: 700;
  font-size: 32px;
  text-align: center;
}

.easy-process {
  color: var(--main-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
}

.point-text-process {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #2f281e;
}

.btn-contact-expert {
  width: 216px;
  height: 53px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background-color: var(--accent-color);
}
